<a href="https://colab.research.google.com/github/Sparrow0hawk/crime_sim_toolkit/blob/develop/data_manipulation/CrimeDes_toCSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Map Crime Descriptions to Crime Severity Scores

In [1]:
# get the crime seversity score xlsx file
!wget -O cssdatatool.xls https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/crimeandjustice/datasets/crimeseverityscoreexperimentalstatistics/current/cssdatatool.xls

--2019-09-10 10:08:10--  https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/crimeandjustice/datasets/crimeseverityscoreexperimentalstatistics/current/cssdatatool.xls
Resolving www.ons.gov.uk (www.ons.gov.uk)... 104.20.60.76, 104.20.61.76, 2606:4700:10::6814:3d4c, ...
Connecting to www.ons.gov.uk (www.ons.gov.uk)|104.20.60.76|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/vnd.ms-excel]
Saving to: ‘cssdatatool.xls’

cssdatatool.xls         [    <=>             ]   8.96M  10.3MB/s    in 0.9s

2019-09-10 10:08:17 (10.3 MB/s) - ‘cssdatatool.xls’ saved [9394176]

In [2]:
# check its in /content
!ls

cssdatatool.xls  sample_data

In [0]:
import pandas as pd
import numpy as np

In [0]:
# open files including existing crime description 
crime_des_data = pd.read_csv('https://raw.githubusercontent.com/Sparrow0hawk/crime_sim_toolkit/master/crime_sim_toolkit/src/simple_policeuk_perc_offence.csv', index_col=0)

CSS_score_xls = pd.ExcelFile('cssdatatool.xls')

In [0]:
# set crime descriptions all to lowercase for easier string matching
crime_des_data.Offence_Description = crime_des_data.Offence_Description.str.lower()

# specify all crime codes as strings
crime_des_data.Offence_Code = crime_des_data.Offence_Code.astype(str)

In [0]:
# get excel sheet with weights
weights = CSS_score_xls.parse('List of weights', skiprows=4)

In [9]:
# visualise
weights.head()

                      Unnamed: 0   Unnamed: 1   Offence       Weight
0                            NaN          NaN       NaN          NaN
1  VICTIM BASED CRIME - VIOLENCE          NaN       NaN          NaN
2                            NaN          NaN       NaN          NaN
3                            NaN  1, 4.1/2/10  Homicide  7973.393423
4                            NaN          NaN       NaN          NaN

In [10]:
# ignore first column and visualise
weights = weights.iloc[:,1:]

weights.head()

    Unnamed: 1   Offence       Weight
0          NaN       NaN          NaN
1          NaN       NaN          NaN
2          NaN       NaN          NaN
3  1, 4.1/2/10  Homicide  7973.393423
4          NaN       NaN          NaN

In [0]:
# rename columns
weights.columns = ['Offence_cd','Offence_Description','Weight']

# set all strings to lower and type string
weights.Offence_Description = weights.Offence_Description.str.lower()

weights.Offence_cd = weights.Offence_cd.astype(str)

# remove rows with NAs
weights.dropna(inplace=True)

In [12]:
# visualise
weights.head()

    Offence_cd                                Offence_Description       Weight
3  1, 4.1/2/10                                           homicide  7973.393423
5          4.4  causing death or serious injury by dangerous d...  1022.814458
6          4.6  causing death by careless driving when under t...  1512.002797
7          4.8  causing death by careless or inconsiderate dri...   111.361322
8      4.4/6/8     causing death by dangerous or careless driving   690.720426

Start constructing dataframe that includes weights matched by either crime code or string match to crime description

In [22]:
# create a copy of the crime description dataframe we can work with
basic_frame = crime_des_data.copy()

# remove the duplicates sections for each local authority to get just all 132 crime descriptions
basic_frame = basic_frame.drop_duplicates(subset=['Offence_Description'])

# check shape is as expected
basic_frame.shape

(132, 8)

In [23]:
# select only useful columns and visualise
basic_frame = basic_frame[['Policeuk_Cat', 'Offence_Group', 'Offence_Subgroup',
       'Offence_Description', 'Offence_Code']]

basic_frame.head()

                   Policeuk_Cat  ... Offence_Code
0                   Other crime  ...           AF
1                   Other crime  ...           80
2  Violence and Sexual Offences  ...           71
3  Violence and Sexual Offences  ...           73
4                      Burglary  ...          31A

[5 rows x 5 columns]

In [0]:
# join the weights column from weights dataset based on string matches of Offence_Descriptions
weights_frame = basic_frame.set_index('Offence_Description').join(weights[weights.Offence_Description.isin(crime_des_data.Offence_Description.unique().tolist())].set_index('Offence_Description')['Weight'])

# reset the index back to numeric
weights_frame.reset_index(inplace=True)

In [25]:
# visualise
weights_frame.head()

                                 Offence_Description  ...      Weight
0                     absconding from lawful custody  ...  192.375992
1      abuse of children through sexual exploitation  ...  939.264396
2      abuse of position of trust of a sexual nature  ...  240.649045
3         aggravated burglary business and community  ...         NaN
4  aggravated burglary in a building other than a...  ...         NaN

[5 rows x 6 columns]

In [0]:
# add a new column for weights matched by offence code 

weights_frame = weights_frame.set_index('Offence_Code').join(weights[weights.Offence_cd.isin(crime_des_data.Offence_Code.unique().tolist())].set_index('Offence_cd')['Weight'], rsuffix='_cd')

weights_frame.reset_index(inplace=True)

# rename columns
weights_frame.columns = ['Offence_code','Offence_Description','Policeuk_Cat','Offence_Group','Offence_Subgroup','Weight','Weight_cd']

In [27]:
# fill NaNs with 0
weights_frame.fillna(0, inplace=True)

# condense weight columns
weights_frame['Weight'] = weights_frame.apply(lambda x: x['Weight'] + x['Weight_cd'] if x['Weight'] == 0 else x['Weight'], axis=1)

# drop the weights_cd column (now redundant as we've combined weights)
weights_frame.drop('Weight_cd', axis=1, inplace=True)

# check
weights_frame.head()

     Offence_code  ...       Weight
0  1/4.1/4.10/4.2  ...  7973.393423
1             104  ...     7.543806
2            105A  ...    13.510542
3            105B  ...    30.763236
4             106  ...  1069.064103

[5 rows x 6 columns]

In [28]:
# unmatched crime categories 

weights_frame[weights_frame.Weight == 0]

    Offence_code  ... Weight
33           28A  ...    0.0
43           30A  ...    0.0
131           AF  ...    0.0
132        CIFAS  ...    0.0
133       FFA UK  ...    0.0
134   UK Finance  ...    0.0

[6 rows x 6 columns]

In [29]:
# the two burglary categories are due to shared crime codes which I can explode into individual rows

# we'll hack our way to setting these values

weights_frame[(weights_frame.Offence_Description.str.contains('burg')) & (weights_frame.Weight == 0)]

   Offence_code  ... Weight
33          28A  ...    0.0
43          30A  ...    0.0

[2 rows x 6 columns]

In [0]:
# this will set value for offence code 28A
# and will generate a warning

weights_frame.loc[weights_frame.Offence_code == '28A','Weight'] = weights[weights.Offence_cd.str.contains('28A')]['Weight'].tolist()[0]

In [0]:
# this will set value for offence code 30A

weights_frame.loc[weights_frame.Offence_code == '30A','Weight'] = weights[weights.Offence_cd.str.contains('28A')]['Weight'].tolist()[0]

In [32]:
# unmatched crime categories 

weights_frame[weights_frame.Weight == 0]

    Offence_code  ... Weight
131           AF  ...    0.0
132        CIFAS  ...    0.0
133       FFA UK  ...    0.0
134   UK Finance  ...    0.0

[4 rows x 6 columns]

In [33]:
# for now we'll just calculate the mean weight of all fraud crimes

weights[weights.Offence_Description.str.contains('fraud')].Weight.mean()

116.91071432167321

In [0]:
# this will set value for all remaining 0 weight crimes shown above

weights_frame.loc[weights_frame.Weight == 0,'Weight'] = weights[weights.Offence_Description.str.contains('fraud')].Weight.mean()

In [35]:
# unmatched crime categories 

weights_frame[weights_frame.Weight == 0]

Empty DataFrame
Columns: [Offence_code, Offence_Description, Policeuk_Cat, Offence_Group, Offence_Subgroup, Weight]
Index: []

In [0]:
weights_frame = weights_frame[['Policeuk_Cat', 'Offence_Group','Offence_Subgroup','Offence_Description','Offence_code', 'Weight']]

In [37]:
weights_frame

                     Policeuk_Cat  ...       Weight
0    Violence and Sexual Offences  ...  7973.393423
1    Violence and Sexual Offences  ...     7.543806
2    Violence and Sexual Offences  ...    13.510542
3    Violence and Sexual Offences  ...    30.763236
4    Violence and Sexual Offences  ...  1069.064103
5           Possession of Weapons  ...   616.560089
6           Possession of Weapons  ...   412.202395
7           Possession of Weapons  ...    52.126097
8           Possession of Weapons  ...    53.038239
9    Violence and Sexual Offences  ...   138.716331
10                  Vehicle Crime  ...     9.314707
11   Violence and Sexual Offences  ...   289.815402
12   Violence and Sexual Offences  ...  1056.409091
13                    Other crime  ...   201.398958
14   Violence and Sexual Offences  ...   767.443710
15   Violence and Sexual Offences  ...   862.269087
16   Violence and Sexual Offences  ...  2952.940993
17   Violence and Sexual Offences  ...  3883.132787
18   Violence and Sexual Offences  ...  3225.096476
19   Violence and Sexual Offences  ...  3191.964624
20   Violence and Sexual Offences  ...  3894.781113
21   Violence and Sexual Offences  ...  2397.258672
22   Violence and Sexual Offences  ...  4654.298133
23   Violence and Sexual Offences  ...   459.069917
24   Violence and Sexual Offences  ...  1211.971364
25   Violence and Sexual Offences  ...   823.718995
26   Violence and Sexual Offences  ...   823.718995
27   Violence and Sexual Offences  ...  1054.746637
28   Violence and Sexual Offences  ...   726.444970
29   Violence and Sexual Offences  ...  1122.369238
..                            ...  ...          ...
105         Possession of Weapons  ...  1287.544413
106                   Other crime  ...     7.259604
107                   Other crime  ...     3.304401
108                   Other crime  ...   137.282544
109  Violence and Sexual Offences  ...   462.949314
110  Violence and Sexual Offences  ...    69.016735
111  Violence and Sexual Offences  ...  1026.879353
112  Violence and Sexual Offences  ...    51.713021
113  Violence and Sexual Offences  ...    39.922002
114  Violence and Sexual Offences  ...    36.097530
115  Violence and Sexual Offences  ...    37.511298
116  Violence and Sexual Offences  ...   189.153887
117  Violence and Sexual Offences  ...   312.906712
118  Violence and Sexual Offences  ...    56.349710
119  Violence and Sexual Offences  ...    15.138929
120  Violence and Sexual Offences  ...   401.424397
121         Possession of Weapons  ...   250.250000
122                         Drugs  ...   512.957359
123                         Drugs  ...     9.062219
124                         Drugs  ...     8.082043
125                         Drugs  ...     1.770623
126                   Other crime  ...    12.917192
127                   Other crime  ...   247.854990
128                   Other crime  ...   179.249472
129                  Public Order  ...     6.811758
130                  Public Order  ...    12.763384
131                   Other crime  ...   116.910714
132                   Other crime  ...   116.910714
133                   Other crime  ...   116.910714
134                   Other crime  ...   116.910714

[135 rows x 6 columns]

In [0]:
weights_frame.to_csv('crime_des_CSSweights.csv')