<a href="https://colab.research.google.com/github/Sparrow0hawk/crime_sim_toolkit/blob/develop-CSS-match/data_manipulation/CrimeDes_toCSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Map Crime Descriptions to Crime Severity Scores

In [1]:
# get the crime seversity score xlsx file
!wget -O cssdatatool.xls https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/crimeandjustice/datasets/crimeseverityscoreexperimentalstatistics/current/cssdatatool.xls

--2019-09-09 11:02:16--  https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/crimeandjustice/datasets/crimeseverityscoreexperimentalstatistics/current/cssdatatool.xls
Resolving www.ons.gov.uk (www.ons.gov.uk)... 104.20.61.76, 104.20.60.76, 2606:4700:10::6814:3c4c, ...
Connecting to www.ons.gov.uk (www.ons.gov.uk)|104.20.61.76|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/vnd.ms-excel]
Saving to: ‘cssdatatool.xls’

cssdatatool.xls         [   <=>              ]   8.96M  13.7MB/s    in 0.7s

2019-09-09 11:02:23 (13.7 MB/s) - ‘cssdatatool.xls’ saved [9394176]

In [2]:
# check its in /content
!ls

cssdatatool.xls  sample_data

In [0]:
import pandas as pd
import numpy as np

In [0]:
# open files including existing crime description 
crime_des_data = pd.read_csv('https://raw.githubusercontent.com/Sparrow0hawk/crime_sim_toolkit/develop-CSS-match/crime_sim_toolkit/src/simple_policeuk_perc_offence.csv', index_col=0)

CSS_score_xls = pd.ExcelFile('cssdatatool.xls')

In [0]:
# set crime descriptions all to lowercase for easier string matching
crime_des_data.Offence_Description = crime_des_data.Offence_Description.str.lower()

# specify all crime codes as strings
crime_des_data.Offence_Code = crime_des_data.Offence_Code.astype(str)

In [0]:
# get excel sheet with weights
weights = CSS_score_xls.parse('List of weights', skiprows=4)

In [7]:
# visualise
weights.head()

                      Unnamed: 0   Unnamed: 1   Offence       Weight
0                            NaN          NaN       NaN          NaN
1  VICTIM BASED CRIME - VIOLENCE          NaN       NaN          NaN
2                            NaN          NaN       NaN          NaN
3                            NaN  1, 4.1/2/10  Homicide  7973.393423
4                            NaN          NaN       NaN          NaN

In [8]:
# ignore first column and visualise
weights = weights.iloc[:,1:]

weights.head()

    Unnamed: 1   Offence       Weight
0          NaN       NaN          NaN
1          NaN       NaN          NaN
2          NaN       NaN          NaN
3  1, 4.1/2/10  Homicide  7973.393423
4          NaN       NaN          NaN

In [0]:
# rename columns
weights.columns = ['Offence_cd','Offence_Description','Weight']

# set all strings to lower and type string
weights.Offence_Description = weights.Offence_Description.str.lower()

weights.Offence_cd = weights.Offence_cd.astype(str)

# remove rows with NAs
weights.dropna(inplace=True)

In [10]:
# visualise
weights.head()

    Offence_cd                                Offence_Description       Weight
3  1, 4.1/2/10                                           homicide  7973.393423
5          4.4  causing death or serious injury by dangerous d...  1022.814458
6          4.6  causing death by careless driving when under t...  1512.002797
7          4.8  causing death by careless or inconsiderate dri...   111.361322
8      4.4/6/8     causing death by dangerous or careless driving   690.720426

Start constructing dataframe that includes weights matched by either crime code or string match to crime description

In [11]:
# create a copy of the crime description dataframe we can work with
basic_frame = crime_des_data.copy()

# remove the duplicates sections for each local authority to get just all 132 crime descriptions
basic_frame = basic_frame.drop_duplicates(subset=['Offence_Description'])

# check shape is as expected
basic_frame.shape

(132, 8)

In [12]:
# select only useful columns and visualise
basic_frame = basic_frame[['Policeuk_Cat', 'Offence_Group', 'Offence_Subgroup',
       'Offence_Description', 'Offence_Code']]

basic_frame.head()

                   Policeuk_Cat  ... Offence_Code
0                   Other crime  ...           AF
1                   Other crime  ...           80
2  Violence and Sexual Offences  ...           71
3  Violence and Sexual Offences  ...           73
4                      Burglary  ...          31A

[5 rows x 5 columns]

In [0]:
# join the weights column from weights dataset based on string matches of Offence_Descriptions
weights_frame = basic_frame.set_index('Offence_Description').join(weights[weights.Offence_Description.isin(crime_des_data.Offence_Description.unique().tolist())].set_index('Offence_Description')['Weight'])

# reset the index back to numeric
weights_frame.reset_index(inplace=True)

In [14]:
# visualise
weights_frame.head()

                                 Offence_Description  ...      Weight
0                     absconding from lawful custody  ...  192.375992
1      abuse of children through sexual exploitation  ...  939.264396
2      abuse of position of trust of a sexual nature  ...  240.649045
3         aggravated burglary business and community  ...         NaN
4  aggravated burglary in a building other than a...  ...         NaN

[5 rows x 6 columns]

In [0]:
# add a new column for weights matched by offence code 

weights_frame = weights_frame.set_index('Offence_Code').join(weights[weights.Offence_cd.isin(crime_des_data.Offence_Code.unique().tolist())].set_index('Offence_cd')['Weight'], rsuffix='_cd')

weights_frame.reset_index(inplace=True)

# rename columns
weights_frame.columns = ['Offence_code','Offence_Description','Policeuk_Cat','Offence_Group','Offence_Subgroup','Weight','Weight_cd']

In [16]:
# fill NaNs with 0
weights_frame.fillna(0, inplace=True)

# combine weights columns into one 
weights_frame['Weight'] = weights_frame.apply(lambda x: x['Weight'] + x['Weight_cd'], axis=1)

# drop the weights_cd column (now redundant as we've combined weights)
weights_frame.drop('Weight_cd', axis=1, inplace=True)

# check
weights_frame.head()

     Offence_code  ...       Weight
0  1/4.1/4.10/4.2  ...  7973.393423
1             104  ...    15.087613
2            105A  ...    27.021083
3            105B  ...    61.526472
4             106  ...  2138.128205

[5 rows x 6 columns]

In [17]:
# unmatched crime categories 

weights_frame[weights_frame.Weight == 0]

    Offence_code  ... Weight
33           28A  ...    0.0
43           30A  ...    0.0
131           AF  ...    0.0
132        CIFAS  ...    0.0
133       FFA UK  ...    0.0
134   UK Finance  ...    0.0

[6 rows x 6 columns]

In [18]:
# the two burglary categories are due to shared crime codes which I can explode into individual rows

# we'll hack our way to setting these values

weights_frame[(weights_frame.Offence_Description.str.contains('burg')) & (weights_frame.Weight == 0)]

   Offence_code  ... Weight
33          28A  ...    0.0
43          30A  ...    0.0

[2 rows x 6 columns]

In [0]:
# this will set value for offence code 28A
# and will generate a warning

weights_frame.loc[weights_frame.Offence_code == '28A','Weight'] = weights[weights.Offence_cd.str.contains('28A')]['Weight'].tolist()[0]

In [0]:
# this will set value for offence code 30A

weights_frame.loc[weights_frame.Offence_code == '30A','Weight'] = weights[weights.Offence_cd.str.contains('28A')]['Weight'].tolist()[0]

In [21]:
# unmatched crime categories 

weights_frame[weights_frame.Weight == 0]

    Offence_code  ... Weight
131           AF  ...    0.0
132        CIFAS  ...    0.0
133       FFA UK  ...    0.0
134   UK Finance  ...    0.0

[4 rows x 6 columns]

In [22]:
# for now we'll just calculate the mean weight of all fraud crimes

weights[weights.Offence_Description.str.contains('fraud')].Weight.mean()

116.91071432167321

In [0]:
# this will set value for all remaining 0 weight crimes shown above

weights_frame.loc[weights_frame.Weight == 0,'Weight'] = weights[weights.Offence_Description.str.contains('fraud')].Weight.mean()

In [24]:
# unmatched crime categories 

weights_frame[weights_frame.Weight == 0]

Empty DataFrame
Columns: [Offence_code, Offence_Description, Policeuk_Cat, Offence_Group, Offence_Subgroup, Weight]
Index: []

In [0]:
weights_frame = weights_frame[['Policeuk_Cat', 'Offence_Group','Offence_Subgroup','Offence_Description','Offence_code', 'Weight']]

In [26]:
weights_frame

                     Policeuk_Cat  ...       Weight
0    Violence and Sexual Offences  ...  7973.393423
1    Violence and Sexual Offences  ...    15.087613
2    Violence and Sexual Offences  ...    27.021083
3    Violence and Sexual Offences  ...    61.526472
4    Violence and Sexual Offences  ...  2138.128205
5           Possession of Weapons  ...  1233.120179
6           Possession of Weapons  ...   824.404789
7           Possession of Weapons  ...   104.252194
8           Possession of Weapons  ...   106.076478
9    Violence and Sexual Offences  ...   277.432663
10                  Vehicle Crime  ...     9.314707
11   Violence and Sexual Offences  ...   579.630804
12   Violence and Sexual Offences  ...  2112.818182
13                    Other crime  ...   402.797916
14   Violence and Sexual Offences  ...  1534.887421
15   Violence and Sexual Offences  ...  1724.538173
16   Violence and Sexual Offences  ...  2952.940993
17   Violence and Sexual Offences  ...  7766.265573
18   Violence and Sexual Offences  ...  6450.192952
19   Violence and Sexual Offences  ...  3191.964624
20   Violence and Sexual Offences  ...  7789.562227
21   Violence and Sexual Offences  ...  4794.517343
22   Violence and Sexual Offences  ...  9308.596266
23   Violence and Sexual Offences  ...   918.139833
24   Violence and Sexual Offences  ...  2423.942728
25   Violence and Sexual Offences  ...  1647.437990
26   Violence and Sexual Offences  ...  1647.437990
27   Violence and Sexual Offences  ...  2109.493274
28   Violence and Sexual Offences  ...   726.444970
29   Violence and Sexual Offences  ...  2244.738476
..                            ...  ...          ...
105         Possession of Weapons  ...  2575.088826
106                   Other crime  ...     7.259604
107                   Other crime  ...     6.608803
108                   Other crime  ...   137.282544
109  Violence and Sexual Offences  ...   925.898628
110  Violence and Sexual Offences  ...  1095.896089
111  Violence and Sexual Offences  ...  2053.758707
112  Violence and Sexual Offences  ...   103.426042
113  Violence and Sexual Offences  ...    79.844004
114  Violence and Sexual Offences  ...    72.195060
115  Violence and Sexual Offences  ...    75.022596
116  Violence and Sexual Offences  ...   378.307774
117  Violence and Sexual Offences  ...   625.813424
118  Violence and Sexual Offences  ...   112.699419
119  Violence and Sexual Offences  ...    30.277857
120  Violence and Sexual Offences  ...   802.848794
121         Possession of Weapons  ...   500.500000
122                         Drugs  ...  1025.914719
123                         Drugs  ...    18.124438
124                         Drugs  ...     8.082043
125                         Drugs  ...     1.770623
126                   Other crime  ...    25.834383
127                   Other crime  ...   247.854990
128                   Other crime  ...   179.249472
129                  Public Order  ...    13.623515
130                  Public Order  ...    25.526769
131                   Other crime  ...   116.910714
132                   Other crime  ...   116.910714
133                   Other crime  ...   116.910714
134                   Other crime  ...   116.910714

[135 rows x 6 columns]

In [0]:
weights_frame.to_csv('crime_des_CSSweights.csv')